body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625;
    color: #696E7B;
    text-align: left;
}
/* В style.css или в теге <style> */
.navbar.scrolled {
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, .1);
    transition: box-shadow 0.3s ease;
}

.navbar{
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px ;
    background-color: #fff !important;
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    position:fixed;

}
.collapse{
    flex-grow: 0;
}
 .menu{
    display: flex;
    gap: 40px;
 }
 nav>img{
    width: 200px;
 }
 nav button{
    width: 15%;
    background-color: #01C9F5;
    color: #fff;
    border:none ;
    border-radius: 30px;
    height: 50px;
    font-weight: bold;
}   
.active>a{
    color: #0c68f2 !important;
}
.nav-link{
    color: #000 !important;
    font-weight: 400;
}
.nav-link:hover{
    color: #0c68f2 !important;
}
